h3{
    font-size:30px !important;
}

.btn-success:hover{
    background-color: red;
}

canvas{
    animation-name:filter;
    animation-duration:5000ms;
    animation-iteration-count:infinite;
    margin-top:40px;
}

@keyframes filter{
    from{
        box-shadow:1px 1px 38px red; 
    }

    to{
        box-shadow:1px 1px 38px yellow; 
    }
}